.Rproj.user
.Rhistory
.RData
.Ruserdata

# Fichiers LaTeX à ignorer
rapport.aux
rapport.log
rapport.toc
rapport.out
rapport.synctex.gz
rapport.fls
rapport.fdb_latexmk
rapport.blg
rapport.bbl
rapport.nav
rapport.snm
rapport.vrb
